/*** Layouts ***/
/* subscription */
.subscription {
  overflow: hidden;
  max-inline-size: 635px;
  display: flex;
  flex-flow: row wrap;

  @media (width <=375px) {
    max-inline-size: 311px;
    flex-flow: column wrap;
  }
}

/* join-our-community */
.join-our-community {
  flex: 1 1 100%;
  /* With a flex-basis value of 100%, 
  this flex-item covers the entire line, 
  so other flex-items wrap to the next bottom line.
  It can also shrink and grow with the values of 1 and 1. */
}

/* monthly-subscription */
.monthly-subscription {
  /* flex: 1 1 0% */
  flex: 1;
  /* When you use the flex shorthand property with the value 1 on your flex-items, 
  your flex-items will be have these values: 1 1 0%. 
  The flex-basis property has the auto for its initial value 
  but this shorthand property doesn't work like other shorthand properties, 
  it doesn't set the undeclared property value for its initial value. 
  It sets the 0% for the flex-basis and that means,
  it ignores the initial value (auto) and sets its undeclared value to 0%. 
  This way, flex-basis can omit the items auto keyword value 
  and sets items width value to 0% to share the exact same width value between the flex-items.  */
}

/* why-us */
.why-us {
  /* flex: 1 1 0% */
  flex: 1;
}


/*** Margins and paddings ***/
/* join-our-community */
.join-our-community {
  padding: 2.5rem;

  @media (width <=375px) {
    padding: 1.5rem 1.75rem 1.5rem 2rem;
  }
}

.join-our-community>h2 {
  margin-block-end: 1.5rem;
}

.join-our-community>.highlight {
  margin-block-end: 0.6875rem;
}

/* monthly-subscription */
.monthly-subscription {
  padding: 2.5rem;

  @media (width <=375px) {
    padding: 1.5rem;
  }
}

.monthly-subscription>h3 {
  margin-block-end: 1.125rem;
}

.price {
  margin-block-end: 0.25rem;
}

.monthly-subscription .full-access {
  margin-block-end: 1.625rem;
}

/* why-us */
.why-us {
  padding: 2.5rem;

  @media (width <=375px) {
    padding: 1.5rem;
  }
}

.why-us>h3 {
  margin-block-end: 1.125rem;
}